<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'blog_post.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'blog_app:blog_list' %}">Home</a>
        {% else %}
            <a class="navbar-brand" href="{% url 'blog_app:home' %}">Home</a>
        {% endif %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog_app:blog_create' %}">Create Post</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item" ><span class="navbar-text" style="color:white;">Welcome {{user.username}}</span></li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link" style="color:black">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link" style="color:white">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'auth_app:signup' %}" class="nav-link" style="color:white">Signup</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>
    
</body>
</html>