{% extends 'base.html' %}
{% block body_block %}
    {% if user.is_authenticated %}
        {% if posts %}
            <h1>ALL BLOGS</h1>
            {% for post in posts %}
                <div class="post">
                    <h2><a href="{% url 'blog_app:blog_detail' post.pk %}">{{post.title}}</a></h2>
                </div>
            {% endfor %}
        {% else %}
            <h1>There are no Posts to display</h1>
        {% endif %}
    {% else %}
        <h1>Please Login to see all posts</h1>
    {% endif %}
{% endblock %}